/*
Powered by TechnoL0g
 */
body {
    /*background: #1a181f; /*#232D3D;*/
    background: #1b1b25 url('/static/bg-dark.png');
    overflow-x: hidden;
}

.table th, .table td {
  border-top: none;
}

::-webkit-scrollbar, -moz-scrollbar {
  width: 7px;
  height: 7px;
  background: #1b2532;
}

::-webkit-scrollbar-thumb {
  background: #2fa0ba;
  border: 1px solid #434a52;
}

.pointer:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.dm-base-button {
  font-family: Arial !important;
}
