/*
Powered by TechnoL0g
 */
body {
    background: #232D3D;
    overflow-x: hidden;
}

.table th, .table td {
  border-top: none;
}

::-webkit-scrollbar, -moz-scrollbar {
  width: 7px;
  height: 7px;
  background: #1b2532;
}

::-webkit-scrollbar-thumb {
  background: #2fa0ba;
  border: 1px solid #434a52;
}

.pointer:hover {
  cursor: pointer;
}
